
# files for sequencing/seq data
symlinks/
plasmidfinder_tools/plasmidfinder/fastq/
smoothlumpy/bams/


# files from slurm system
*log
*out

# files from CGE output
*/Sepi*/

# large files not needed to push
*fasta

# silly mac
.DS_Store
