
# files for sequencing/seq data
symlinks/
plasmidfinder_tools/plasmidfinder/fastq/
smoothlumpy/bams/


# files from slurm system
*log
*out

# files from CGE output
*/Sepi*/

# snakemake files
plasmidfinder_tools/.snakemake/*
CGEtools_noplasmidfinder/.snakemake/*

# large files not needed to push
*fasta

# ignore git and objs in plasmidfinder docker
plasmidfinder_tools/kma/*
plasmidfinder_tools/plasmidfinderdb/*
plasmidfinder_tools/plasmidfinder/README.md
test/*

# silly mac
.DS_Store
.Rproj.user

# my files
*png
*pdb
